*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #a0736e;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.content{
    border: 2px solid black;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h1{
    font-size: 50px;
}
.body_content{
    display: flex;
    flex-direction: column;
    width:100%;
}
input{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 25px 20px 25px;
}
